/* from the twentyten WP theme */

/* =Header
-------------------------------------------------------------- */
#header {
    padding: 30px 0 0 0;
}
#site-title {
    float: left;
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 18px 0;
    width: 700px;
}
#site-title a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
#site-description {
    clear: right;
    float: right;
    font-style: italic;
    margin: 14px 0 18px 0;
    width: 220px;
}

/* This is the custom header image */

#branding img {
    border-top: 4px solid #000;
    border-bottom: 1px solid #000;
    clear: both;
    display: block;
}

/* =Menu
-------------------------------------------------------------- */

#access {
    background: #137CA9;
    display: block;
    float: left;
    margin: 0 auto;
    width: 940px;
}
#access .menu-header,
div.menu {
    font-size: 13px;
    margin-left: 12px;
    width: 928px;
}
#access .menu-header ul,
div.menu ul {
    list-style: none;
    margin: 0;
}
#access .menu-header li,
div.menu li {
    float: left;
    position: relative;
}
#access a {
    color: #fff;
    display: block;
    line-height: 38px;
    padding: 0 10px;
    text-decoration: none;
}
#access ul ul {
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    width: 180px;
    z-index: 99999;
}
#access ul ul li {
    min-width: 180px;
}
#access ul ul ul {
    left: 100%;
    top: 0;
}
#access ul ul a {
    background: #333;
    line-height: 1em;
    padding: 10px;
    width: 160px;
    height: auto;
}
#access li:hover > a,
#access ul ul :hover > a {
    background: #333;
    color: #fff;
}
#access ul li:hover > ul {
    display: block;
}
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
    color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
    color: #fff;
}
